*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

}
body
{
    background-repeat: no-repeat;
    background-size: cover;
}
.images
{
    
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
}
.images:hover
{
  transform: scale(1.1);
}
.information
{
 display: flex;
 align-items: normal;
 justify-content: normal;
 margin: 20px;
 
}
.officers
{
    margin: 10px;
    align-items: normal;
}